<div class="col-md-7">
  <div class="page-header">
    <h1>Idea Start</h1>
  </div>

  <!-- with tables?list-groups?  -->
  <div ng-repeat="post in posts | orderBy:'-upvotes' | filter:search">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h2>
            {{post.title}}
          </h2>
        </div>
      </div>
      <div class="panel-body">
        <h3>
          {{post.description}}
        </h3>
        <h3>
          Tags:
        </h3>
        <div class="btn-group" role="group" aria-label="...">
          <div ng-repeat="tag in post.tags" class="indiv-tag">
            <button type="button" class="btn btn-default">{{tag.text}}</button>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="upvote">
          <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)">

          </span>
          + <p ng-bind="post.upvotes.length" id="post-upvote-count"></p>
        </div>
        <p id="panel-author">
          By: {{ post.author }}
        </p>
        <a href="#/posts/{{post._id}}"> 
          <span class="glyphicon glyphicon-comment" aria-hidden="true" id="comment-link"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-4 sidebar" ng-show="user.authenticated">
  <form ng-submit="addPost()" id="new-post">
    <div class="page-header">
      <h2>Add a new idea</h2>
    </div>
    <div class="form-group">
      <input type="text"
        class="form-control"
        placeholder="Title"
        ng-model="title"/>
    </div>
    <br>
    <div class="form-group">
      <textarea class="form-control" rows="4" cols="50" placeholder="Description" ng-model="description"></textarea>
    </div>
    <br>
    <tags-input ng-model="tags">
    </tags-input>
    <br>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</div>